# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Node/Webpack
node_modules/
anylog/static/

# config
anylog/config/prod.cfg
anylog/config/dev.cfg

# Other
old/
.coverage
htmlcov/
anylogenv/
*.save
log.txt
tmp/
*.log
