flask==0.10.1
sqlalchemy==1.0.13
flask-failsafe==0.2
psycopg2==2.6.1
passlib==1.6.5
voluptuous==0.8.11
flask_sqlalchemy==2.1
coverage==4.1
itsdangerous==0.24
flask-cors==2.1.2
uwsgi
plivo
flask-migrate==1.8.0
flask-mail==0.9.1
