#login-dp{
    min-width: 220px;
    overflow:hidden;
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    clear:both;
    padding-top: 14px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
