@media(max-width:768px) {

  .navbar-collapse > ul {
    display: none;
  }

  .navbar-collapse.in > ul {
    display: block;
  }
}


.no-transition {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
}


.right-top-nav {
  font-size: 1.2em;

  li>a {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .glyphicon {
    position: relative;
    top: 3px;
    margin-right: 4px;
  }
}

.navbar-header {
  .title-font{
    font-size: 2.2em;
    position: relative;
    top: 4px;
  }
}
