@media(max-width:768px) {

  .navbar-collapse > ul {
    display: none;
  }

  .navbar-collapse.in > ul {
    display: block;
  }
}

.no-transition {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
}

.right-top-nav {


  font-size: 1.2em;

  li>a {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .glyphicon {
    position: relative;
    top: 3px;
    margin-right: 4px;
  }
}

.navbar-header {
  .title-font{
    font-size: 2.2em;
    position: relative;
    top: 6px;
  }
  position: relative;
  width: 100%;
  
  .brand-centering-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

  .navbar-brand {
    display: inline-block;
    float: none;
  }
}
